.navbar{
    padding: 20px 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 95%;
    background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.3) 40%, rgb(0,0,0,0.6)80%);
    
    &.scrolled{
        background: black;
    }

    .left-side{
        display: flex;
        align-items: center;
        
        img{
            width: 100px;
            height: 30px;
            cursor: pointer;
        }
        span{
            margin-left: 25px;
            cursor: pointer;
        }
    }
    .right-side{
        display: flex;
        .icons{
            margin-left: 20px;
            cursor: pointer;
        }
        .profile{
            margin-right: 50px;
            .dropdown{
                display: none;
                
            }
            &:hover{
                .dropdown{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    background: black;
                    padding: 10px 20px;
                    line-height: 30px;
                    .dropdown-text{
                        cursor: pointer;
                    }
                    
                }
            }
        }
    }
}